@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?iaky5y');
    src:    url('../fonts/icomoon.eot?iaky5y#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?iaky5y') format('truetype'),
        url('../fonts/icomoon.woff?iaky5y') format('woff'),
        url('../fonts/icomoon.svg?iaky5y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_drop_up:before {
    content: "\e95b";
}
.icon-close2:before {
    content: "\e95a";
}
.icon-info2:before {
    content: "\e951";
}
.icon-coin-yen:before {
    content: "\e939";
}
.icon-iphone:before {
    content: "\e934";
}
.icon-pen:before {
    content: "\e912";
}
.icon-ticket:before {
    content: "\e93a";
}
.icon-credit-card:before {
    content: "\e913";
}
.icon-clock3:before {
    content: "\e914";
}
.icon-clock2:before {
    content: "\e915";
}
.icon-alarm:before {
    content: "\e916";
}
.icon-bell2:before {
    content: "\e917";
}
.icon-calendar:before {
    content: "\e918";
}
.icon-mobile:before {
    content: "\e932";
}
.icon-mobile2:before {
    content: "\e933";
}
.icon-bubble2:before {
    content: "\e919";
}
.icon-bubbles4:before {
    content: "\e91a";
}
.icon-user:before {
    content: "\e91b";
}
.icon-users:before {
    content: "\e91c";
}
.icon-user-plus:before {
    content: "\e91d";
}
.icon-user-minus:before {
    content: "\e91e";
}
.icon-user-check:before {
    content: "\e91f";
}
.icon-user-tie:before {
    content: "\e920";
}
.icon-hour-glass:before {
    content: "\e93b";
}
.icon-key3:before {
    content: "\e921";
}
.icon-key2:before {
    content: "\e922";
}
.icon-cog2:before {
    content: "\e923";
}
.icon-rocket:before {
    content: "\e93c";
}
.icon-info:before {
    content: "\e950";
}
.icon-cancel-circle:before {
    content: "\e952";
}
.icon-cross2:before {
    content: "\e94e";
}
.icon-checkmark:before {
    content: "\e94a";
}
.icon-play2:before {
    content: "\e944";
}
.icon-pause:before {
    content: "\e945";
}
.icon-stop:before {
    content: "\e946";
}
.icon-play3:before {
    content: "\e93d";
}
.icon-pause2:before {
    content: "\e93e";
}
.icon-volume-medium:before {
    content: "\e947";
}
.icon-volume-mute2:before {
    content: "\e948";
}
.icon-thumbs-up:before {
    content: "\e938";
}
.icon-eye:before {
    content: "\e000";
}
.icon-paper-clip:before {
    content: "\e001";
}
.icon-mail:before {
    content: "\e002";
}
.icon-layout:before {
    content: "\e004";
}
.icon-link:before {
    content: "\e005";
}
.icon-bell:before {
    content: "\e006";
}
.icon-lock:before {
    content: "\e007";
}
.icon-unlock:before {
    content: "\e008";
}
.icon-ribbon:before {
    content: "\e009";
}
.icon-image:before {
    content: "\e010";
}
.icon-signal:before {
    content: "\e011";
}
.icon-target:before {
    content: "\e012";
}
.icon-clipboard:before {
    content: "\e013";
}
.icon-clock:before {
    content: "\e014";
}
.icon-watch:before {
    content: "\e015";
}
.icon-camera:before {
    content: "\e017";
}
.icon-video:before {
    content: "\e018";
}
.icon-disc:before {
    content: "\e019";
}
.icon-printer:before {
    content: "\e020";
}
.icon-monitor:before {
    content: "\e021";
}
.icon-server:before {
    content: "\e022";
}
.icon-cog:before {
    content: "\e023";
}
.icon-heart:before {
    content: "\e024";
}
.icon-paragraph:before {
    content: "\e025";
}
.icon-align-justify:before {
    content: "\e026";
}
.icon-align-left:before {
    content: "\e027";
}
.icon-align-center:before {
    content: "\e028";
}
.icon-align-right:before {
    content: "\e029";
}
.icon-book:before {
    content: "\e030";
}
.icon-layers:before {
    content: "\e031";
}
.icon-stack:before {
    content: "\e032";
}
.icon-stack-2:before {
    content: "\e033";
}
.icon-paper:before {
    content: "\e034";
}
.icon-paper-stack:before {
    content: "\e035";
}
.icon-search:before {
    content: "\e036";
}
.icon-zoom-in:before {
    content: "\e037";
}
.icon-zoom-out:before {
    content: "\e038";
}
.icon-reply:before {
    content: "\e039";
}
.icon-circle-plus:before {
    content: "\e040";
}
.icon-circle-minus:before {
    content: "\e041";
}
.icon-circle-check:before {
    content: "\e042";
}
.icon-circle-cross:before {
    content: "\e043";
}
.icon-square-plus:before {
    content: "\e044";
}
.icon-square-minus:before {
    content: "\e045";
}
.icon-square-check:before {
    content: "\e046";
}
.icon-square-cross:before {
    content: "\e047";
}
.icon-microphone:before {
    content: "\e048";
}
.icon-record:before {
    content: "\e049";
}
.icon-skip-back:before {
    content: "\e050";
}
.icon-rewind:before {
    content: "\e051";
}
.icon-fast-forward:before {
    content: "\e055";
}
.icon-skip-forward:before {
    content: "\e056";
}
.icon-shuffle:before {
    content: "\e057";
}
.icon-repeat:before {
    content: "\e058";
}
.icon-folder:before {
    content: "\e059";
}
.icon-umbrella:before {
    content: "\e060";
}
.icon-moon:before {
    content: "\e061";
}
.icon-thermometer:before {
    content: "\e062";
}
.icon-drop:before {
    content: "\e063";
}
.icon-sun:before {
    content: "\e064";
}
.icon-cloud:before {
    content: "\e065";
}
.icon-cloud-upload:before {
    content: "\e066";
}
.icon-cloud-download:before {
    content: "\e067";
}
.icon-upload:before {
    content: "\e068";
}
.icon-download:before {
    content: "\e069";
}
.icon-location:before {
    content: "\e070";
}
.icon-location-2:before {
    content: "\e071";
}
.icon-map:before {
    content: "\e072";
}
.icon-battery:before {
    content: "\e073";
}
.icon-head:before {
    content: "\e074";
}
.icon-briefcase:before {
    content: "\e075";
}
.icon-speech-bubble:before {
    content: "\e076";
}
.icon-globe:before {
    content: "\e078";
}
.icon-box:before {
    content: "\e079";
}
.icon-reload:before {
    content: "\e080";
}
.icon-share:before {
    content: "\e081";
}
.icon-marquee:before {
    content: "\e082";
}
.icon-marquee-plus:before {
    content: "\e083";
}
.icon-marquee-minus:before {
    content: "\e084";
}
.icon-tag:before {
    content: "\e085";
}
.icon-power:before {
    content: "\e086";
}
.icon-command:before {
    content: "\e087";
}
.icon-alt:before {
    content: "\e088";
}
.icon-esc:before {
    content: "\e089";
}
.icon-bar-graph:before {
    content: "\e090";
}
.icon-pie-graph:before {
    content: "\e092";
}
.icon-arrow-left:before {
    content: "\e094";
}
.icon-arrow-right:before {
    content: "\e095";
}
.icon-arrow-up:before {
    content: "\e096";
}
.icon-arrow-down:before {
    content: "\e097";
}
.icon-volume:before {
    content: "\e098";
}
.icon-mute:before {
    content: "\e099";
}
.icon-loader:before {
    content: "\e105";
}
.icon-bag:before {
    content: "\e106";
}
.icon-ban:before {
    content: "\e107";
}
.icon-flag:before {
    content: "\e108";
}
.icon-trash:before {
    content: "\e109";
}
.icon-expand:before {
    content: "\e110";
}
.icon-contract:before {
    content: "\e111";
}
.icon-maximize:before {
    content: "\e112";
}
.icon-minimize:before {
    content: "\e113";
}
.icon-plus:before {
    content: "\e114";
}
.icon-minus:before {
    content: "\e115";
}
.icon-check:before {
    content: "\e116";
}
.icon-cross:before {
    content: "\e117";
}
.icon-move:before {
    content: "\e118";
}
.icon-delete:before {
    content: "\e119";
}
.icon-menu:before {
    content: "\e120";
}
.icon-archive:before {
    content: "\e121";
}
.icon-inbox:before {
    content: "\e122";
}
.icon-outbox:before {
    content: "\e123";
}
.icon-file:before {
    content: "\e124";
}
.icon-file-add:before {
    content: "\e125";
}
.icon-file-subtract:before {
    content: "\e126";
}
.icon-help:before {
    content: "\e127";
}
.icon-open:before {
    content: "\e128";
}
.icon-ellipsis:before {
    content: "\e129";
}
.icon-cny:before {
    content: "\e953";
}
.icon-close:before {
    content: "\e94f";
}
.icon-check-circle-o:before {
    content: "\e94b";
}
.icon-check-circle:before {
    content: "\e94c";
}
.icon-check2:before {
    content: "\e94d";
}
.icon-wechat:before {
    content: "\e949";
}
.icon-thumbs-o-up:before {
    content: "\e937";
}
.icon-plus2:before {
    content: "\e954";
}
.icon-tie:before {
    content: "\e943";
}
.icon-male:before {
    content: "\e935";
}
.icon-heart2:before {
    content: "\e900";
}
.icon-star:before {
    content: "\e901";
}
.icon-key:before {
    content: "\e902";
}
.icon-search2:before {
    content: "\e903";
}
.icon-settings:before {
    content: "\e904";
}
.icon-camera2:before {
    content: "\e905";
}
.icon-lock2:before {
    content: "\e906";
}
.icon-bulb:before {
    content: "\e907";
}
.icon-location2:before {
    content: "\e908";
}
.icon-eye2:before {
    content: "\e909";
}
.icon-bubble:before {
    content: "\e90a";
}
.icon-phone:before {
    content: "\e90b";
}
.icon-mail2:before {
    content: "\e90c";
}
.icon-like:before {
    content: "\e936";
}
.icon-shop:before {
    content: "\e90d";
}
.icon-wallet:before {
    content: "\e90e";
}
.icon-world:before {
    content: "\e90f";
}
.icon-heart-outlined:before {
    content: "\e910";
}
.icon-heart3:before {
    content: "\e911";
}
.icon-shop2:before {
    content: "\e955";
}
.icon-shopping-basket:before {
    content: "\e956";
}
.icon-shopping-cart:before {
    content: "\e957";
}
.icon-v-card:before {
    content: "\e93f";
}
.icon-wallet2:before {
    content: "\e940";
}
.icon-qq:before {
    content: "\e941";
}
.icon-sina-weibo:before {
    content: "\e942";
}
.icon-write:before {
    content: "\e924";
}
.icon-clock4:before {
    content: "\e925";
}
.icon-search3:before {
    content: "\e926";
}
.icon-trash2:before {
    content: "\e927";
}
.icon-envelope:before {
    content: "\e928";
}
.icon-bubble3:before {
    content: "\e929";
}
.icon-bubbles:before {
    content: "\e92a";
}
.icon-user2:before {
    content: "\e92b";
}
.icon-users2:before {
    content: "\e92c";
}
.icon-cloud2:before {
    content: "\e92d";
}
.icon-bell3:before {
    content: "\e92e";
}
.icon-image2:before {
    content: "\e92f";
}
.icon-cog3:before {
    content: "\e930";
}
.icon-heart4:before {
    content: "\e931";
}
.icon-plus3:before {
    content: "\e958";
}
.icon-left:before {
    content: "\e959";
}

